<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KAS TALENT</title>
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/circles.css">
	<link rel="stylesheet" href="style/about.css">
	<link rel="stylesheet" href="style/clients.css">
	<link rel="stylesheet" href="style/navbar.css">
	<link rel="stylesheet" href="style/video.css">
</head>
<body>
	<div id="main-container">
		<div id="nav-bar" class="hidden">
			<h2>LOGO</h2>
		</div>
		<div class="video-container">
			<video id="myVideo" muted>
				<source src="resources/Logo Web Animacion_02.mp4" type="video/mp4">
				Tu navegador no soporta el video.
			</video>
		</div>
		
		<div id="circles-section">
			<div class="circle" id="cirle-1"></div>
			<div class="circle" id="cirle-2"></div>
			<div class="circle" id="cirle-3"></div>
			<div class="circle" id="cirle-4"></div>
			<div class="circle" id="cirle-5"></div>
			<div class="circle" id="cirle-6"></div>
		</div>
		<div id="about-us-section">
			<h2>About us</h2>
			<p>
				lorem
			</p>
		</div>

		<div id="clients-section">
			<h2>Clients</h2>
			<div id="clients-logo">
				<div class="client-logo" id="client-1">Cartoon Network</div>
				<div class="client-logo" id="client-2">c</div>
				<div class="client-logo" id="client-3">c</div>
				<div class="client-logo" id="client-4">c</div>
				<div class="client-logo" id="client-5">c</div>
				<div class="client-logo" id="client-6">c</div>
				<div class="client-logo" id="client-7">c</div>
				<div class="client-logo" id="client-8">c</div>
				<div class="client-logo" id="client-9">c</div>
			</div>
			
		</div>

	</div>
	<script>
		window.addEventListener('load', function() {
			var video = document.getElementById('myVideo');
			video.play();
		});
	</script>
	<script>
		document.getElementById('myVideo').addEventListener('ended', function() {
			var navbar = document.getElementById('nav-bar');
			navbar.classList.add('show'); // Añadimos la clase 'show' cuando el video termina
		});
	</script>
</body>

</html>
